{% load static %}

<html>
  <head>
    <title> Feel Fit </title>
    <link rel="stylesheet" type="text/css" href="{% static 'dietas_style.css' %}"> 
    <link href="{% static 'logomaior.png' %}" rel='shortcut icon'/> 
    <meta charset="utf-8">
    <script type="text/javascript"> </script>
    

    <body><center> 
    <div class= "geral">
      
      <div class="barra"></div>
      <div class= "menu">
             <a href="index.html"><button class="button">Início</button></a>
             <a href="exercicios.html"><button class="button">Exercícos</button></a>
             <a href="dietas.html"><button class="button">Dietas</button></a>
             <a href="sobrenos.html"><button class="button">Sobre nós</button></a>
             <button class="button">--</button>

        </div>

    	<div class= "logo">
    		<h1>Dietas</h1>
    	</div>
    	
        <div class= "conteudo">
         <!--  <img scr="musc.jpg"> -->
        Os alimentos para ganhar massa muscular são alimentos ricos em proteínas como carne ou leguminosas, por exemplo, pois as proteínas ajudam na formação do tecido muscular, contribuindo para o ganho da massa muscular, principalmente para quem anda na academia ou pratica exercício físico regularmente.

Além destes alimentos, é importante ingerir alimentos ricos em carboidratos, pois eles fazem com que o indivíduo gaste a energia destes alimentos e não a dos próprios músculos.
        <!-- <a href="https://docs.google.com/a/cin.ufpe.br/document/d/18_mjWH2p-UvpnhzJ6CKXwu-P0rQz70RhzJ6B8eU53NI/edit">  riscos </a> -->

    		<!-- <img src="http://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg" /> -->
    		<!-- se colocar a imagem dentro do a, o link fica na imagem -->

    	</div>

	</div>

    </center></body>
	</head>
</html>