
{% load static %}
<html>
  <head>
    <title> Feel Fit </title>
    <link rel="stylesheet" type="text/css" href="exercicios_style.css"> 
    <link href="logomaior.png" rel='shortcut icon'/> 
    <meta charset="utf-8">
    <script type="text/javascript"> </script>

    <body><center> 
    <div class= "geral">
      
      <div class="barra"></div>
      <div class= "menu">
             <a href="index.html"><button class="button">Início</button></a>
             <a href="exercicios.html"><button class="button">Exercícos</button></a>
             <a href="dietas.html"><button class="button">Dietas</button></a>
             <a href="sobrenos.html"><button class="button">Sobre nós</button></a>
             <button class="button">--</button>

        </div>

    	<div class= "logo">
    		<h1>Exercicios</h1>
    	</div>
    	
        <div class= "conteudo">
          <h1>Abidominais</h1>  

    		<!-- <a href="https://docs.google.com/a/cin.ufpe.br/document/d/18_mjWH2p-UvpnhzJ6CKXwu-P0rQz70RhzJ6B8eU53NI/edit">  riscos </a> -->

    		<img src="abd1.jpg" id="img1">
        <img src="abd2.jpg" id="img2">
        
    		<!-- se colocar a imagem dentro do a, o link fica na imagem -->

    	</div>

	</div>

    </center></body>
	</head>
</html>