<html>
	<head>
		<title> Feel Fit</title>
	<link rel="stylesheet" type="text/css" href="exercicios_sytle2.css"> 
    <link href="{% static 'logomaior.png' %}" rel='shortcut icon'/> 
    <meta charset="utf-8">
    <script type="text/javascript"> </script>
	
<body><center>
    <div class="logo">
        </div>

    <div class="fonte">
                    <h1>Feel Fit</h1>
                    <h2> Tecnologia para uma vida saudável.</h2>
            </div>
	<div class= "menu">
    			<div class= "iars">
    			<img src="iarsites.jpg"/>
    			</div>
    		</div>
    		<div class="botao">
    			<ul>
            		<li><a href="{% url 'home' %}"><button class="button">Início</button></a></li>
                   <li><a href="{% url 'exercicios' %}"><button class="button">Exercícios</button></a></li>
                   <li><a href="{% url 'dietas' %}"><button class="button">Dietas</button></a></li>
                   <li><a href="{% url 'dicas' %}"><button class="button">Dicas</button></a></li>
                   <li><a href="{% url 'calculoimc' %}"><button class="button2">Calcule seu IMC</button></a></li>
                   <li><a href="{% url 'sobrenos' %}"><button class="button">Sobre nós</button></a></li>
				</ul>
    		</div>
    		<div class= "conteudo">
    			<div>  </div>
    		</div>


</center>
	<div class="rodape">
		<h1> Copyright © 2015 </h1>
	</div>

</body>


	</head>


</html>