{% load static %}
<html>
	<head>
		<title> Feel Fit</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ganhar_massa.css' %}"> 
    <link href="{% static 'logomaior.png' %}" rel='shortcut icon'/> 
    <meta charset="utf-8">
    <script type="text/javascript"> </script>
	
<body><center>
    <div class="logo">
        </div>

    <div class="fonte">
        <h1>Feel Fit</h1>
        <h2> Tecnologia para uma vida saudável</h2>
    </div>

	<div class= "menu">
    			<div class= "iars">
    			<img src="{% static 'imagens/iarsites.png' %}"/>
    			</div>
    		</div>
    		<div class="botao">
    			<ul>
            	   <li><a href="{% url 'home' %}"><button class="button">Início</button></a></li>
                   <li><a href="{% url 'exercicios' %}"><button class="button">Exercícios</button></a></li>
                   <li><a href="{% url 'dietas' %}"><button class="button">Dietas</button></a></li>
                   <li><a href="{% url 'dicas' %}"><button class="button">Dicas</button></a></li>
                   <li><a href="{% url 'calculoimc' %}"><button class="button2">Calcule seu IMC</button></a></li>
                   <li><a href="{% url 'sobrenos' %}"><button class="button">Sobre nós</button></a></li>
                </ul>
    		</div>

    		<div class= "conteudo">
    			 
                 <a href="{% url 'exercicios' %}"><button class="button">Voltar</button></a>

                <div class="imagem1">
                <h1>Plano de treino para aumentar massa muscular e ficar definida<h1>
                <div class="texto">
            
            <h1>Dicas de treino para recuperar a sua boa forma:</h1>
            <br>
            <br>
            <h2><u>Treine sempre à mesma hora:</u><p>
            Alguns homens e mulheres funcionam melhor com hora marcada para treinar, outros, exatamente o oposto. Veja o que é melhor para você, mas comprometa-se e crie o hábito!
            <br>
            <br>
            <u>Comece com treinos curtos e de intensidade moderada:</u><p>
            Evite o confronto com as primeiras dores musculares. Vá com calma! Durante as primeiras semanas opte por treinos cuja probabilidade de não se mexer no dia seguinte seja reduzida.
            <br>
            <br>
            <u>Aqueça e alongue sempre:</u><p>
            Um aquecimento no inicio da sessão de treino e alongamentos no final, são essenciais para reduzir o risco de lesões.
            <br>
            <br>
            <u>Anote os seus resultados e marcas pessoais:</u><p>
            A melhor forma de saber se está progredindo é anotando os seus tempos e resultados. Quando comparar e começar a ver as melhorias, se sentirá mais motivado e confiante para continuar o seu caminho.
            <br>
            <br>
            <u>Escolha atividades que a motivem e que o deixem feliz:</u><p>
            Se não gosta do treino que está fazendo, troque por outra coisa que o deixe mais feliz. Se não gosta de piscina, provavelmente não vai escolher a natação como atividade principal, certo?
            <br>
            <br>
            <u>Treine com uma amigo ou tenha uma parceiro de treino:</u><p>
            Isto vai mante-lo motivado diminuindo a hipótese de desistir após os primeiros treinos.</h2>
                </div>
                </div>
                <div class="treino_img"><img src="{% static 'imagens/treino.jpg' %}"></div>

            <div class="imagem2">
                <h1> Alguns exercicios para você praticar em casa:</h1>
                <br>
                <h2>Agachamentos:</h2>
                <br>
                <img src="{% static 'imagens/agach1.jpg' %}">
                <img src="{% static 'imagens/agach2.jpg' %}">
                <img src="{% static 'imagens/agach3.jpg' %}">
                <br>
                <h3>O agachamento trabalha quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar". Com pernas fortes e bumbum durinho, você protege a sua lombar e ganha mais equilíbrio ao se movimentar. </h3>
                <br>
                <h2>Pranchas:</h2>
                <br>
                <img id="pranch" src="{% static 'imagens/pranch1.jpg' %}">
                <img id="pranch" src="{% static 'imagens/pranch2.jpg' %}">
                <br>
                <h3> O exercício prancha é um exercício que trabalha todas as partes do corpo, em especial a posterior da coxa, panturrilha e abdome. Esse exercício é ótimo para se fazer em casa.</h3>
                <br>
                <h2>Abdominais:</h2>
                <br>
                <br>
                <img id="abdm" src="{% static 'imagens/abdm1.jpg' %}">
                <img id="abdm" src="{% static 'imagens/abdm2.jpg' %}">
                <img id="abdm" src="{% static 'imagens/abdm3.jpg' %}">
                <img id="abdm" src="{% static 'imagens/abdm4.jpg' %}">
                <br>
                <h3>Atrás da parede abdominal encontram se as partes vitais do nosso organismo, portanto os exercícios abdominais ajudam a manutenção da tonicidade muscular desta região do corpo, evitando a degeneração da fibras que acabam se relaxando pela pressão e pelo peso dos órgãos. </h3>
                <br>
                <br>
                <h2>Pratique saúde na sua própria casa!</h2>





            </div>




</div></center>
  <div class= "rodape">
                <h6 style="color:white; text-align:center; font-size:20px; vertical-align:middle"> Copyright © 2015</h6>
                <span style="color:white; font-size:12px; text-align: center; vertical-align:middle">As informações e sugestões contidas neste site têm caráter meramente informativo. Elas não substituem o aconselhamento e o acompanhamento de médicos, nutricionistas, psicólogos, profissionais de educação física e outros especialistas.</span>
            </div>

    </body>
    </head>
</html>