{% load static %}
<html>
  <head>
    <title> Feel Fit </title>
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}"> 
    <link href="{% static 'LOGO.png' %}" rel='shortcut icon'/> 
    <link rel="shortcut icon" href="{% static 'imagens/logo.ico' %}">
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'js/aula07.js' %}">> </script>

    <body><center>
        <div class="geral">
        
            <div class= "menu">
                <div class= "iars">
                <img src="{% static 'imagens/iarsites.png' %}"/>
                </div>
            </div>
            <div class="imgface">
                <a href="https://www.facebook.com/758259760930531"><img src="{% static 'imagens/face.jpg' %}"/></a>
            </div>
            <div class="imginsta">
                <a href="http://i.instagram.com/feelfit1/"><img src="{% static 'imagens/insta.jpg' %}"/></a>
            </div>
            <div class="botao">
                <ul>
                    
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}"><button class="button">Início</button></a></li>
                    <li><a href="{% url 'exercicios' %}"><button class="button">Exercícios</button></a></li>
                    <li><a href="{% url 'dietas' %}"><button class="button">Dietas</button></a></li>
                    <li><a href="{% url 'dicas' %}"><button class="button">Dicas</button></a></li>
                    <li><a href="{% url 'calculoimc' %}"><button class="button2">Calcule seu IMC</button></a></li>
                    <li><a href="{% url 'sobrenos' %}"><button class="button">Sobre nós</button></a></li>
                {% else %}   
                    <li><a href="{% url 'login' %}"><button class="button">Entrar</button></a></li>
                {% endif %}


                </ul>
            </div> 
            <div class= "logo"></div>
            <div class= "imglogo"></div>
            <div class="fonte">
                    <h1>Feel Fit</h1>
                    <h2> Tecnologia para uma vida saudável</h2>
            </div>
                <script>
                // This is called with the results from from FB.getLoginStatus().
                function statusChangeCallback(response) {
                    console.log('statusChangeCallback');
                    console.log(response);
                    // The response object is returned with a status field that lets the
                    // app know the current login status of the person.
                    // Full docs on the response object can be found in the documentation
                    // for FB.getLoginStatus().
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                        testAPI();
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                        document.getElementById('status').innerHTML;
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                        document.getElementById('status').innerHTML;
                    }
                }

                // This function is called when someone finishes with the Login
                // Button.  See the onlogin handler attached to it in the sample
                // code below.
                function checkLoginState() {
                    FB.getLoginStatus(function (response) {
                        statusChangeCallback(response);
                    });
                }

                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '378062175700559',
                        cookie: true,  // enable cookies to allow the server to access 
                        // the session
                        xfbml: true,  // parse social plugins on this page
                        version: 'v2.2' // use version 2.1
                    });

                    // Now that we've initialized the JavaScript SDK, we call 
                    // FB.getLoginStatus().  This function gets the state of the
                    // person visiting this page and can return one of three states to
                    // the callback you provide.  They can be:
                    //
                    // 1. Logged into your app ('connected')
                    // 2. Logged into Facebook, but not your app ('not_authorized')
                    // 3. Not logged into Facebook and can't tell if they are logged into
                    //    your app or not.
                    //
                    // These three cases are handled in the callback function.

                    FB.getLoginStatus(function (response) {
                        statusChangeCallback(response);
                    });

                };

                // Load the SDK asynchronously
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=374246589403525&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                // Here we run a very simple test of the Graph API after login is
                // successful.  See statusChangeCallback() for when this call is made.
                function testAPI() {
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function (response) {
                        console.log();
                        document.getElementById('status').innerHTML;
                    });
                }

                FB.login(function (response) {
                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function (response) {
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }

                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                    }
                });

                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        console.log(response.authResponse.accessToken);
                    }
                });

                FB.logout(function (response) {
                    // user is now logged out
                });

            </script>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>



            <div id="status">
            </div>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><button class="button">Sair</button></a>
            {% endif %}


            <div class= "rodape">
                <h6 style="color:white; text-align:center; font-size:20px; vertical-align:middle"> Copyright © 2015</h6>
                <span style="color:white; font-size:10px; text-align: center; vertical-align:middle">As informações e sugestões contidas neste site têm caráter meramente informativo. Elas não substituem o aconselhamento e o acompanhamento de médicos, nutricionistas, psicólogos, profissionais de educação física e outros especialistas.</span>
            </div>

        </div>


   </center> </body>
  <head>
<html>
