{% load static %}
<html>
    <head>
        <title> Feel Fit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manter.css' %}"> 
    <link href="{% static 'logomaior.png' %}" rel='shortcut icon'/> 
    <link rel="shortcut icon" href="{% static 'imagens/logo.ico' %}">
    <script type="text/javascript"> </script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <meta charset="utf-8">
	
<body><center>
	<div class="logo">
		</div>

	<div class="fonte">
    				<h1>Feel Fit</h1>
    				<h2> Tecnologia para uma vida saudável</h2>
    		</div>

	<div class= "menu">
    			<div class= "iars">
    			<img src="{% static 'imagens/iarsites.png' %}"/>
    			</div>
    		</div>
    		<div class="botao">
    			<ul>
            		<li><a href="{% url 'home' %}"><button class="button">Início</button></a></li>
                   <li><a href="{% url 'exercicios' %}"><button class="button">Exercícios</button></a></li>
                   <li><a href="{% url 'dietas' %}"><button class="button">Dietas</button></a></li>
                   <li><a href="{% url 'dicas' %}"><button class="button">Dicas</button></a></li>
                   <li><a href="{% url 'calculoimc' %}"><button class="button2">Calcule seu IMC</button></a></li>
                   <li><a href="{% url 'sobrenos' %}"><button class="button">Sobre nós</button></a></li>
				</ul>
    		</div>
    		<div class= "conteudo">

      <a href="{% url 'exercicios' %}"><button class="button">Voltar</button></a>
      
             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h1> Coma de tudo, mas com moderação</h1>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h3>
            Coma quatro a cinco vezes por semana, ao almoço, carne magra (peru, coelho e frango). Ingira peixe azul três vezes por semana. Quanto à fruta, coma duas a três peças por dia, enquanto os legumes devem ser ingeridos uma a duas vezes por dia. Aposte nas leguminosas uma a duas vezes por semana, são ricas em fibra.</h3>

            <img src="{% static 'imagens/equilibrio.jpg' %}">
            

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1>Faça lanches</h1>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h3> A fruta ou um sumo de fruta natural é uma excelente escolha a meio da manhã ou da tarde. Não petisque snacks ou bolachas. </h3>

        <img src="{% static 'imagens/frutas.jpg' %}">
          
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h1>Hidrate seu corpo</h1>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <h3> É importante que beba entre 1,5 L ou 2 L de líquidos, se possível de água. Embora o consumo de vinho tinto seja aconselhado, beba apenas um copo durante as refeições até quatro vezes por semana.</h3>

       <img src="{% static 'imagens/agua.jpg' %}">
          
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h1>Fique forte</h1>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <h3> Construa músculos e ossos fortes com treinamento de força. Tente:
                          <li>Levantar pesos</li>
              <li>Fazer exercícios com faixas elásticas</li>
              <li>Usar stability ou medicine balls</li>
              <li>Fazer flexões de braço e exercícios abdominais </li> 
              
        </h3>

        <img src="{% static 'imagens/levantar.jpg' %}">
          
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h1>Exercite mente e corpo</h1>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <h3> Adicionalmente à atividade aeróbica e treinamento de força, você pode querer incluir outras formas de exercícios no seu programa de atividade física. Alternativas aos exercícios tradicionais provêm variedade e diversão. Eles também podem ajudar a reduzir o estresse, aumentar a força e flexibilidade muscular e elevar os níveis de energia. Exemplos desses exercícios incluem yoga, pilates e tai chi.
              
        </h3>

        <img src="{% static 'imagens/yoga.jpg' %}">
          
      </div>
    </div>
  </div>


    
</div>
          <!--<div class="topo"> <h1>Qual treino você deseja ? </h1></div>
          <div class="imagem1"><h1> Ganhar massa muscular</h1>
            <h3>
            Ganhe massa muscular e fique com o corpo desejado seguindo nossas dicas e exercícios.</h3>
            <a href="ganhar_massa.html"><button class="button">Clique aqui</button></a> 

          </div>

          <div class="imagem2"> <h1>Perder peso</h1>
          <h3> Emagrecer, como bem sabem os que vivem de dieta, não é tão difícil quanto não voltar a engordar. Mas será que é possível mesmo emagrecer para sempre? É, sim, garante uma das maiores pesquisas sobre o assunto, apresentada no encontro da Associação Americana de Nutrição, Atividade Física e Metabolismo, em Colorado Springs, nos Estados Unidos. </h3>
          <a href="perder_peso.html"><button class="button">Clique aqui</button></a>

           </div>

          <div class="imagem3"> <h1>Manter peso</h1>
          <h3> Deixar o corpo em forma, firme e tonificado não é tarefa fácil, mas alguns alimentos podem ajudar. Eles podem não apenas auxiliar na queima de gordura, como no aumento de massa magra. Mas para isso dar certo, além de consumir entre 2200 e 1750 calorias por dia, dependendo do seu objetivo, é preciso se exercitar. </h3>
          <a href="manter.html"><button class="button">Clique aqui</button></a>

           </div>
           -->
        </div>
</center>
  <div class= "rodape">
            <h6 style="color:white; text-align:center; font-size:20px; vertical-align:middle"> Copyright © 2015</h6>
            <span style="color:white; font-size:12px; text-align: center; vertical-align:middle">As informações e sugestões contidas neste site têm caráter meramente informativo. Elas não substituem o aconselhamento e o acompanhamento de médicos, nutricionistas, psicólogos, profissionais de educação física e outros especialistas.</span>
        </div>
  </body>

  </head>


</html>